/* normalize css */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

/* common classes */
.center {
    text-align: center;
}

.hidden {
    display: none;
}